@import "tailwindcss";
@config "../tailwind.config.js";
@import "./styles/Spinner.css";

.clamp-2-lines {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
